.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile {
  width: 200px;
    padding-top: 20px;
    padding-left: 20px;
}

.weather {
  width: 80%;
}

.code {
  width: 80%;
}
#contact-links {
  margin: 20px;
}

#contact-links a {
  padding: 20px;
  color: lightcoral;
}
footer {
  padding: 20px;
  text-align: center;
  background: lightcoral;
  color: #fff;
}

.longRides {
  width: 80%;
}

.ticket {
  width: 80%;
}

.eridium {
  width: 80%;
}

.fitness {
  width: 80%;
}